@page "/accountsreceivable"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Radzen
@using Newtonsoft.Json;

@inject InvoiceService InvoiceService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager Navigation
@inject JobDescriptionService JobDescriptionService
@inject CompanyService CompanyService
@inject IJSRuntime JS

<h3 class="text-center my-4"><RadzenIcon Icon="account_balance" />Accounts Receivable</h3>

<div class="container">
    <!-- Company Name Filter Dropdown -->
    <div class="row mb-3">
        <div class="col-12">
            <RadzenDropDown TValue="string" @bind-Value="selectedCompanyName" Data="companyNames" Placeholder="Select Company"
                            Change="OnCompanyNameChanged" />
        </div>
    </div>

    @if (combinedInvoices != null && combinedInvoices.Any())
    {
        <div class="row">
            <div class="col-12">
                <RadzenDataGrid TItem="InvoiceViewModel" Data="@combinedInvoices" AllowPaging="true" PageSize="10" AllowSorting="true" AllowColumnReorder="true" ColumnWidth="140px" AllowColumnResize="true" ColumnReordered="@OnColumnReordered" @ref="filteredInvoicesGrid">
                    <Columns>
                        <!-- Separator Row -->
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Title=" " Width="0px">
                            <Template Context="item">
                                @if (item.IsSeparator && filteredInvoices.Count > 0 && particialInvoices.Count > 0)
                                {
                                    <div class="separator-row">
                                        @item.SeparatorText
                                    </div>
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <!-- Invoice Number -->
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.InvoiceNumber" Title="Invoice Number">
                            <Template Context="item">
                                @if (!item.IsSeparator)
                                {
                                    @((item.Invoice.Id + 10000).ToString())
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.StartDate" Title="WorkDate" FormatString="{0:MM/dd/yyyy}" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.CompanyName" Title="Company Name" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.AmountCost" Title="Amount Cost" />

                        <!-- Checkbox Column -->
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Title="Select" Sortable="false" Filterable="false">
                            <Template Context="item">
                                @if (!item.IsSeparator)
                                {
                                    <input type="checkbox" @onchange="e => OnCheckboxChanged(item, e.Value)" />
                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <!-- Editable Columns (Amount Paid, Date Paid, Check Number) -->
                        <RadzenDataGridColumn TItem="InvoiceViewModel"  Title="Payment Input">
                            <Template Context="item">
                                @if (!item.IsSeparator)
                                {
                                    @if (selectedInvoices.Contains(item))
                                    {
                                        <RadzenNumeric @bind-Value="item.Amount" Style="width: 100%" Placeholder="Paid Amount"/>
                                        <tr/>
                                        <RadzenDatePicker @bind-Value="item.PaidDate" DateFormat="MM/dd/yyyy" Style="width: 100%" Placeholder="Paid Date" />
                                        <tr/>
                                        <RadzenTextBox @bind-Value="item.CheckNumber" Style="width: 100%" Placeholder="CheckNumber" />
                                    }
                                    else
                                    {
                                        
                                    }
                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <!-- New PaymentHistory Column -->
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="PaymentHistory" Title="Payment History">
                            <Template Context="item">
                                <!-- Assuming PaymentHistory is a list of payments -->
                                @if (!item.IsSeparator)
                                {
                                    @if (GetPaymentHistoryList(item.Invoice).Count > 0)
                                    {
                                        <ul>
                                            @foreach (Payment payment in GetPaymentHistoryList(item.Invoice))
                                            {
                                                <li>@payment.Date.ToString("MM/dd/yyyy") - @payment.Amount.ToString("C")</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <span>No payments yet</span>
                                    }
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.SpecialNote" Title="Special Note" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.PropertyAddress" Title="Property Address" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.Unit" Title="Unit" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.GateCode" Title="Gate Code" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.LockBox" Title="Lock Box" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.SizeBedroom" Title="Bedrooms" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.SizeBathroom" Title="Bathrooms" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.WorkOrder" Title="Work Order" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.JobDescriptionChoice" Title="Job Description" />
                        <RadzenDataGridColumn TItem="InvoiceViewModel" Property="Invoice.ContractorName" Title="Contractor Name" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    }
    <RadzenRow class="mt-3">
        <RadzenColumn class="mb-3">
            <RadzenButton Text="Done" Click="Done" Icon="description" Style="width: 100%;" ButtonStyle="ButtonStyle.Primary" />
        </RadzenColumn>
        <RadzenColumn class="mb-3">
            <RadzenButton Text="Download to PDF" Click="DownloadPDF" Icon="description" Style="width: 100%;" ButtonStyle="ButtonStyle.Info" />
        </RadzenColumn>
        <RadzenColumn class="mb-3">
            <RadzenButton Text="Download to Excel" Click="DownloadExcel" Icon="table_view" Style="width: 100%;" ButtonStyle="ButtonStyle.Success" />
        </RadzenColumn>
    </RadzenRow>
</div>

@foreach (InvoiceViewModel invoiceViewModel in selectedInvoices)
{
    <div id="pdf-content-@invoiceViewModel.Invoice.Id" style="display: none;">
        <h3 class="text-center my-4">INVOICE</h3>

        <div class="container my-5">
            <!-- Header Section -->
            <div class="row">
                <div class="col-md-6">
                    <p><strong>This Company (DKSK Maintenance)</strong></p>
                    <p>This Company address</p>
                    <p>This Company phone</p>
                    <p>This Company e-mail</p>
                    <p>License Number:</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p><strong>Invoice Number:</strong>@(invoiceViewModel.Invoice.Id + 10000)</p>
                    <p><strong>Work Date:</strong> @(invoiceViewModel.Invoice.AnticipatedEndDate.ToString("MM/dd/yyyy"))</p>
                    <p><strong>Due Date:</strong> @(invoiceViewModel.Invoice.InvoiceCreatedDate.HasValue ? invoiceViewModel.Invoice.InvoiceCreatedDate.Value.ToString("MM/dd/yyyy") : "N/A")</p>
                </div>
            </div>

            <!-- Bill To and Work To Section -->
            @company = GetCompanyInfo(invoiceViewModel.Invoice)
            <div class="row mt-4">
                <div class="col-md-6">
                    <h5><strong>Bill To:</strong></h5>
                    <p>Company Name: @invoiceViewModel.Invoice.CompanyName</p>
                    <p>Company Address: @company.Address</p>
                    <p>Company Phone: @company.Phone</p>
                    <p>Company Email: @company.Email</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <h5><strong>Work To:</strong></h5>
                    <p>Supervisor Name: </p>
                    <p>Property Name: </p>
                    <p>Property Address: @invoiceViewModel.Invoice.PropertyAddress</p>
                    <p>Property City, Zip: </p>
                </div>
            </div>

            <!-- Description Table -->
            <div class="row mt-4">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (JobDiscription jd in GetJDList(invoiceViewModel.Invoice))
                            {
                                <tr>
                                    <td>@jd.description</td>
                                    <td>@jd.price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Total Section -->
            <div class="row mt-2">
                <div class="col-md-6">
                    <p><strong>Work Order Number:</strong> @invoiceViewModel.Invoice.WorkOrder</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p><strong>Total Due:</strong> @invoiceViewModel.Invoice.AmountCost</p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<InvoiceViewModel> selectedInvoices = new List<InvoiceViewModel>();
    private List<Invoice> invoices = new List<Invoice>();
    private List<Invoice> filteredInvoices = new List<Invoice>();
    private List<Invoice> particialInvoices = new List<Invoice>();
    private List<InvoiceViewModel> combinedInvoices = new List<InvoiceViewModel>();
    private List<Payment> paymentHistoryList = new List<Payment>();
    private string selectedCompanyName = "View All";
    private List<string> companyNames = new List<string>();

    List<string> columnOrder = new List<string>();
    private RadzenDataGrid<InvoiceViewModel> filteredInvoicesGrid;

    private List<JobDiscription> jobs = new List<JobDiscription>();

    private Companny company = new Companny { Name = "" };
    private List<Companny> compannies = new List<Companny>();

    protected List<Payment> GetPaymentHistoryList(Invoice invoice)
    {
        List<Payment> paymentlist = new List<Payment>();
        if (invoice.PaymentHistory != null) paymentlist = JsonConvert.DeserializeObject<List<Payment>>(invoice.PaymentHistory);

        return paymentlist;
    }
 
    private void OnColumnReordered(Radzen.DataGridColumnReorderedEventArgs<InvoiceViewModel> args)
    {
        var currentColumnOrder = filteredInvoicesGrid.ColumnsCollection.Select(c => c.Title).ToList();
        SaveColumnOrderToLocalStorage(currentColumnOrder);
    }


    private async void SaveColumnOrderToLocalStorage(List<string> columnOrder)
    {
        var columnOrderString = string.Join(",", columnOrder);
        await JS.InvokeVoidAsync("localStorage.setItem", "AccountReceivablecolumnOrder", columnOrderString);
    }

    private async Task ReorderColumns(List<string> columnOrder)
    {
        if (filteredInvoicesGrid == null)
        {
            Console.WriteLine("filteredInvoicesGrid is not initialized.");
            return;
        }

        // Reorder the columns based on saved columnOrder
        var reorderedColumns = filteredInvoicesGrid.ColumnsCollection
            .OrderBy(c => columnOrder.IndexOf(c.Title))
            .ToList();

        filteredInvoicesGrid.ColumnsCollection.Clear();
        foreach (var column in reorderedColumns)
        {
            filteredInvoicesGrid.ColumnsCollection.Add(column);
        }
        StateHasChanged();

    }
    private Timer initializationTimer;
    private bool isGridInitialized = false;
    private const int TimerInterval = 500; // Check every 500 millisecon
    private void CheckGridInitialization(object state)
    {
        if (filteredInvoicesGrid != null && !isGridInitialized)
        {
            // Ensure this code runs on the UI thread
            InvokeAsync(() =>
            {
                if (filteredInvoicesGrid.Data.Any())
                {
                    // Stop the timer
                    initializationTimer?.Change(Timeout.Infinite, Timeout.Infinite);
                    isGridInitialized = true;

                    // Call your initialization method
                    OnGridInitialized();
                }
            });
        }
    }

    private async Task OnGridInitialized()
    {
        // Your initialization logic here
        var savedColumnOrder = await JS.InvokeAsync<string>("localStorage.getItem", "AccountReceivablecolumnOrder");
        if (!string.IsNullOrEmpty(savedColumnOrder))
        {
            var columnOrderList = savedColumnOrder.Split(',').ToList();
            if (filteredInvoicesGrid != null)
            {
                await ReorderColumns(columnOrderList);
            }
        }
        Console.WriteLine("Grid has been initialized.");
    }

    public void Dispose()
    {
        initializationTimer?.Dispose();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            invoices = await InvoiceService.GetInvoicesReceivable();
            await LoadComapnyDataAsync();
            await LoadJobDataAsync();
            // Extract unique company names from invoices and add "View All"
            companyNames = invoices.Select(i => i.CompanyName).Distinct().ToList();
            companyNames.Insert(0, "View All");

            // Initialize filtered invoices to show all by default
            filteredInvoices = invoices.Where(i => i.AmountPaid <= 0).ToList();
            particialInvoices = invoices.Where(i => i.AmountPaid > 0).ToList();
            // Combine both lists with a separator row in between
            combinedInvoices = filteredInvoices
                .Select(i => new InvoiceViewModel { Invoice = i, IsSeparator = false })
                .ToList();

            // Add the separator row
            combinedInvoices.Add(new InvoiceViewModel { IsSeparator = true, SeparatorText = "Partially Paid Invoices" });

            combinedInvoices.AddRange(particialInvoices
                .Select(i => new InvoiceViewModel { Invoice = i, IsSeparator = false }));
            initializationTimer = new Timer(CheckGridInitialization, null, TimerInterval, TimerInterval);

            StateHasChanged();

        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // Handle the exception as needed
        }
    }

    private async Task LoadComapnyDataAsync()
    {
        compannies = await CompanyService.GetAllCompaniesAsync();
    }
    private async Task LoadJobDataAsync()
    {
        jobs = await JobDescriptionService.GetAllJobsAsync();

    }
    protected Companny GetCompanyInfo(Invoice invoice)
    {
        foreach (Companny companny in compannies)
        {
            if (invoice.CompanyName == companny.Name) return companny;
        }
        return new Companny { Name = invoice.CompanyName };
    }
    protected List<JobDiscription> GetJDList(Invoice invoice)
    {
        List<JobDiscription> jobDescriptions = new List<JobDiscription>();
        if (!string.IsNullOrEmpty(invoice.JobDescriptionChoice))
        {
            try
            {
                List<string> jobDescriptionsStrings = JsonConvert.DeserializeObject<List<string>>(invoice.JobDescriptionChoice);
                foreach (string jds in jobDescriptionsStrings)
                {
                    bool flag = true;
                    foreach (JobDiscription job in jobs)
                    {
                        if (job.description == jds)
                        {
                            jobDescriptions.Add(job);
                            flag = false;
                            break;
                        }
                    }
                    if (flag)
                    {
                        jobDescriptions.Add(new JobDiscription { description = jds, price = 0 });
                    }
                }
            }
            catch
            {
                // Handle JSON deserialization errors
            }
        }
        return jobDescriptions;
    }
    private void OnCompanyNameChanged(object value)
    {
        selectedCompanyName = value.ToString();

        OnFilter();
    }
    private void OnFilter()
    {
        // Filter invoices based on selected company name
        if (selectedCompanyName == "View All")
        {
            filteredInvoices = invoices.Where(i => i.AmountPaid <= 0).ToList();
            particialInvoices = invoices.Where(i => i.AmountPaid > 0).ToList();
        }
        else
        {
            filteredInvoices = invoices.Where(i => (i.CompanyName == selectedCompanyName && i.AmountPaid <= 0)).ToList();
            particialInvoices = invoices.Where(i => (i.CompanyName == selectedCompanyName && i.AmountPaid > 0)).ToList();

        }
        // Combine both lists with a separator row in between
        combinedInvoices = filteredInvoices
            .Select(i => new InvoiceViewModel { Invoice = i, IsSeparator = false })
            .ToList();

        // Add the separator row
        combinedInvoices.Add(new InvoiceViewModel { IsSeparator = true, SeparatorText = "Partially Paid Invoices" });

        combinedInvoices.AddRange(particialInvoices
            .Select(i => new InvoiceViewModel { Invoice = i, IsSeparator = false }));
        StateHasChanged();
    }

    private void OnCheckboxChanged(InvoiceViewModel invoice, object isChecked)
    {
        bool checkedStatus = (bool)isChecked;
        if (checkedStatus)
        {
            if (!selectedInvoices.Contains(invoice))
            {
                selectedInvoices.Add(invoice);
            }
        }
        else
        {
            selectedInvoices.Remove(invoice);
        }
    }

    private async Task Done()
    {
        try
        {
            foreach(InvoiceViewModel invoiceViewModel in selectedInvoices)
            {
                List<Payment> paymentList = GetPaymentHistoryList(invoiceViewModel.Invoice);
                Payment payment = new Payment { Amount = invoiceViewModel.Amount, Date = invoiceViewModel.PaidDate, CheckNumber = invoiceViewModel.CheckNumber };
                paymentList.Add(payment);
                int PaidAmount = 0;
                foreach(Payment payment1 in paymentList)
                {
                    PaidAmount += payment1.Amount;
                }
                if (invoiceViewModel.Invoice.AmountCost < PaidAmount)
                {
                    NotificationService.Notify(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = "The paid amount can not be greater than amount due!",
                            Duration = 3000
                        });
                    return;
                }
            }
            var result = await DialogService.Confirm("Are you sure you want to Submit?", "Confirmation");


            if (result.HasValue && result.Value)
            {
                List<Invoice> selectedInvoiceList = new List<Invoice>();

                foreach (InvoiceViewModel invoiceViewModel in selectedInvoices)
                {
                    List<Payment> paymentList = GetPaymentHistoryList(invoiceViewModel.Invoice);
                    Payment payment = new Payment { Amount = invoiceViewModel.Amount, Date = invoiceViewModel.PaidDate, CheckNumber = invoiceViewModel.CheckNumber };
                    paymentList.Add(payment);
                    Invoice invoice = invoiceViewModel.Invoice;

                    int PaidAmount = 0;
                    foreach (Payment payment1 in paymentList)
                    {
                        PaidAmount += payment1.Amount;
                    }
                    if (invoiceViewModel.Invoice.AmountCost == PaidAmount) invoice.Status = 2;
                    invoice.AmountPaid = PaidAmount;
                    invoice.DatePaid = invoiceViewModel.PaidDate;
                    invoice.CheckNumber = invoiceViewModel.CheckNumber;
                    invoice.PaymentHistory = JsonConvert.SerializeObject(paymentList);

                    selectedInvoiceList.Add(invoice);
                }

                await InvoiceService.UpdateInvoicesAsync(selectedInvoiceList);

                // Remove processed invoices from the list
                invoices = await InvoiceService.GetInvoicesReceivable();
                OnFilter();

                // Clear the selection
                selectedInvoices.Clear();
                NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Success",
                    Detail = "Invoices successfully submitted!",
                    Duration = 3000
                });


            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = $"Failed to updating invoice: {ex.Message}",
                Duration = 3000
            });
        }
    }
    private async Task DownloadExcel()
    {
        // Filter only necessary data from the invoices
        var invoiceData = selectedInvoices.Select(i => new
        {
            i.Invoice.Id,
            i.Invoice.TodaysDate,
            i.Invoice.StartDate,
            i.Invoice.AnticipatedEndDate,
            i.Invoice.CompanyName,
            i.Invoice.AmountCost,
            i.Invoice.AmountPaid,
            i.Invoice.CheckNumber,
            i.Invoice.SpecialNote,
            i.Invoice.PropertyAddress,
            i.Invoice.Unit,
            i.Invoice.GateCode,
            i.Invoice.LockBox,
            i.Invoice.SizeBedroom,
            i.Invoice.SizeBathroom,
            i.Invoice.WorkOrder,
            i.Invoice.JobDescriptionChoice
        }).ToList();

        // Call JS function to download Excel
        await JS.InvokeVoidAsync("saveAsExcel", invoiceData);
    }

    private async Task DownloadPDF()
    {


        // Call JS function to download PDF
        foreach (InvoiceViewModel invoiceViewModel in selectedInvoices)
        {

            await JS.InvokeVoidAsync("saveAsPDFByTemplate", "pdf-content-" + invoiceViewModel.Invoice.Id, "documents");
        }
    }
}
