@page "/sales/salesmanager"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager Navigation

<PageTitle>Manager Sales</PageTitle>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <label>Manager:</label>
            <select class="form-select" @bind="selectedV">
                @foreach (var option in options)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
    </div>

    @if (selectedValue == 1)
    {
        <div class="row mb-3">
            <div class="col-md-6 col-12">
                <label>Search from Date:</label>
                <input type="date" class="form-control" />
            </div>
            <div class="col-md-6 col-12">
                <label>End Date:</label>
                <input type="date" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="button" class="btn btn-primary w-100" value="Submit" @onclick="Done" />
            </div>
        </div>
    }

    @if (selectedValue == 2)
    {
        <div class="table-responsive">
            <QuickGrid Items="@people">
                <PropertyColumn title="Date" Property="@(p => (DateOnly)p.DateOfOrder)" Format="yyyy-MM-dd" Sortable="(bool?)true" />
                <PropertyColumn title="Company" Property="@(p => p.Company)" Sortable="true" />
                <PropertyColumn title="Manager" Property="@(p => p.Manager)" Sortable="true" />
                <PropertyColumn title="Property" Property="@(p => p.PropertyName)" Sortable="true" />
                <PropertyColumn title="Unit" Property="@(p => p.UnitName)" Sortable="true" />
                <PropertyColumn title="Price" Property="@(p => (double)p.PriceOfJob)" Sortable="(bool?)true" />
                <PropertyColumn title="Invoice Number" Property="@(p => (int)(int)p.InvoiceNumber)" Sortable="(bool?)true" />
            </QuickGrid>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <RadzenButton Text="Download to PDF" class="w-100" />
            </div>
            <div class="col-6">
                <RadzenButton Text="Download to Excel" class="w-100" />
            </div>
        </div>
    }
</div>

@code {
    DateTime? value;
    int selectedValue = 1;
    public void Done()
    {
        selectedValue = 2;
    }

    private record Person(DateOnly DateOfOrder, string Company, string PropertyName, string UnitName, string Manager, double PriceOfJob, int InvoiceNumber);

    private IQueryable<Person> people = new[]
    {
        new Person(new DateOnly(2024, 3, 16), "Company 1", "22334 Nice Place", "R42", "Jim", 1232.33, 9977),
        new Person(new DateOnly(2024, 4, 1), "Company 2","Grand Oaks Apartments", "A12", "Jim", 3244.00, 6655 ),
        new Person(new DateOnly(2024, 2, 11), "Company 3", "664 Borzing Dr", "R132", "Jim", 3322.22, 3322),
        new Person(new DateOnly(2024, 3, 16), "Company 2", "Super Market", "B2", "Jim", 4455.32, 1122),
        new Person(new DateOnly(2024, 2, 22), "Company 4", "Egyptian Mummy", "C6", "Jim", 2233.26, 4444),
        new Person(new DateOnly(2023, 5, 16), "Company 1", "Something somewhere", "S32", "Jim", 987.55, 6655)}.AsQueryable();
    private string? selectedV;
    private List<string> options = new List<string> { "James", "Jim", "Jimbo", "Jaime" };
}
