@page "/sales/salessupervisor"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Supervisor Sales</PageTitle>

<select @bind="selectedV">
    @foreach (var option in options)
    {
        <option value="@option">@option</option>
    }
</select>

@if (selectedValue == 1)
{
    <div>
        <div>
            <RadzenLabel Text="Search from Date"></RadzenLabel>
            <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue1" ShowCalendarWeek />
        </div>
        <div>
            <RadzenLabel Text="End Date"></RadzenLabel>
            <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue2" ShowCalendarWeek />
        </div>

    </div>
    <input type="Button" value="Submit" @onclick="Done" />
}
 
@if (selectedValue == 2)
{
<QuickGrid Items="@people">
    <PropertyColumn title="Date" Property="@(p => (DateOnly)p.DateOfOrder)" Format="yyyy-MM-dd" Sortable="(bool?)true" />
        <PropertyColumn title="Company" Property="@(p => p.Company)" Sortable="true" />
    <PropertyColumn title="Supervisor" Property="@(p => p.Supervisor)" Sortable="true" />
    <PropertyColumn title="Property" Property="@(p => p.PropertyName)" Sortable="true" />
        <PropertyColumn title="Unit" Property="@(p => p.UnitNumber)" Sortable="true" />
    <PropertyColumn title="Price" Property="@(p => (double)p.PriceOfJob)" Sortable="(bool?)true" />
    <PropertyColumn title="Invoice Number" Property="@(p => (int)(int)p.InvoiceNumber)" Sortable="(bool?)true" />
    </QuickGrid>
    <div>
        <RadzenButton Text="Download to PDF" />
        <RadzenButton Text="Download to Excel" />
    </div>
}


@code {
    DateTime? value;
    int selectedValue = 1;
    public void Done()
    {
        selectedValue = 2;
        StateHasChanged();
    }

    private record Person(DateOnly DateOfOrder, string Company, string UnitNumber, string PropertyName, string Supervisor, double PriceOfJob, int InvoiceNumber);

    private IQueryable<Person> people = new[]
    {
        new Person(new DateOnly(2024, 3, 16), "Company1", "R21", "22334 Nice Place", "Billy", 1232.33, 9977),
        new Person(new DateOnly(2024, 4, 1), "Company2", "ADE", "Grand Oaks Apartments", "Billy", 3244.00, 6655 ),
        new Person(new DateOnly(2024, 2, 11), "Company3", "223", "664 Borzing Dr","Billy", 3322.22, 3322),
        new Person(new DateOnly(2024, 3, 16), "Company3", "4453", "Super Market", "Billy", 4455.32, 1122),
        new Person(new DateOnly(2024, 2, 22), "Company2", "23-11", "Egyptian Mummy", "Billy", 2233.26, 4444),
        new Person(new DateOnly(2023, 5, 16), "Company5", "A332", "Something somewhere", "Billy", 987.55, 6655)}.AsQueryable();
    private string? selectedV;
    private List<string> options = new List<string> { "William", "Will", "Bill", "Billy" };
}