@page "/sales/salesworkorder"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Work Orders</PageTitle>


<input type="number" title="Work Order" />

@if (selectedValue == 1)
{
    <div>
        <div>
            <RadzenLabel Text="Search from Date"></RadzenLabel>
            <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue1" ShowCalendarWeek />
        </div>
        <div>
            <RadzenLabel Text="End Date"></RadzenLabel>
            <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue2" ShowCalendarWeek />
        </div>

    </div>
    <input type="Button" value="Submit" @onclick="Done" />
}
 
@if (selectedValue == 2)
{
    <QuickGrid Items="@people">
        <PropertyColumn title="Date" Property="@(p => (DateOnly)p.DateOfOrder)" Format="yyyy-MM-dd" Sortable="(bool?)true" />
        <PropertyColumn title="Company" Property="@(p => p.Company)" Sortable="true" />
        <PropertyColumn title="Work Order" Property="@(p => (int)(int)p.WorkOrder)" Sortable="(bool?)true" />       <PropertyColumn title="Supervisor" Property="@(p => p.Supervisor)" Sortable="true" />
        <PropertyColumn title="Manager" Property="@(p => p.Manager)" Sortable="true" />
        <PropertyColumn title="Property" Property="@(p => p.PropertyName)" Sortable="true" />
        <PropertyColumn title="Unit" Property="@(p => p.UnitNumber)" Sortable="true" />
        <PropertyColumn title="Price" Property="@(p => (double)p.PriceOfJob)" Sortable="(bool?)true" />
 
    </QuickGrid>
    <div>
        <RadzenButton Text="Download to PDF" />
        <RadzenButton Text="Download to Excel" />
    </div>
}


@code {
    DateTime? value;
    int selectedValue = 1;
    public void Done()
    {
        selectedValue = 2;
        StateHasChanged();
    }

    private record Person(DateOnly DateOfOrder, string Company, string PropertyName, string UnitNumber, string Supervisor, string Manager, double PriceOfJob, int WorkOrder);

    private IQueryable<Person> people = new[]
    {
        new Person(new DateOnly(2024, 3, 16), "Company 1", "22334 Nice Place", "E44", "John", "Lisa", 1232.33, 9977)}.AsQueryable();

  //  private string selectedV;
 //   private List<string> options = new List<string> { "5435", "7790", "9977", "1134" };
}