@page "/editcontacts/editsupervisor"


<div>
    <select @bind="selectedValue">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>
    <input type="button" value="Submit" @onclick="Done" />
</div>

<div style="display: @(sValue == 2 ? "block" : "none")">
    Information is imported from database
    <input type="text" value="Supervisor" />
    <input type="text" value="Company" />
    <input type="text" value="Cell Phone" />
    <input type="text" value="E-mail" />
    Managers:  <select @bind="selectedValue">
        @foreach (var prop in props)
        {
            <option value="@props">@prop</option>
        }
    </select>
    Properties:  <select @bind="selectedValue">
        @foreach (var stuff in stuffs)
        {
            <option value="@stuffs">@stuff</option>
        }
    </select>
    <input type="text" value="Special note" />

    <RadzenButton Text="Cancel" />
    <RadzenButton Text="Submit" />
    <RadzenButton Text="Revert" />
</div>


@code {
    int sValue = 1;
    private string? selectedValue;
    private List<string> options = new List<string> { "William", "Will", "Bill", "Billy" };
    private List<string> props = new List<string> { "Ann", "Anne", "Anna", "Annie" };
    private List<string> stuffs = new List<string> { "Prop1", "Prop2", "Prop3", "Prop4" };
    private void Done()
    {
        sValue = 2;
    }
}
