@page "/editcontacts/editsupervisor"


<div>
    <select @bind-value="selectedValue" @bind-value:event="oninput" @onchange="Done">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>

@if (sValue == 2)
{
    //Information is imported from database
    <input type="text" value="Supervisor" />
    <input type="text" value="Company" />
    <input type="text" value="Cell Phone" />
    <input type="text" value="E-mail" />
    <div>Managers: </div>
    <select @bind="selectedValue" title="Managers">
        @foreach (var prop in props)
        {
            <option value="@props">@prop</option>
        }
    </select>
    <div>Properties:</div>
    <select @bind="selectedValue" title="Properties">
        @foreach (var stuff in stuffs)
        {
            <option value="@stuffs">@stuff</option>
        }
    </select>
    <input type="text" value="Special note" />

    <RadzenButton Text="Cancel" />
    <RadzenButton Text="Submit" />
    <RadzenButton Text="Revert" />
}

@code {
    int sValue = 1;
    private string? selectedValue;
    private List<string> options = new List<string> { "William", "Will", "Bill", "Billy" };
    private List<string> props = new List<string> { "Ann", "Anne", "Anna", "Annie" };
    private List<string> stuffs = new List<string> { "Prop1", "Prop2", "Prop3", "Prop4" };
    private void Done()
    {
        sValue = 2;
    }
}
