@page "/accountsreceivable"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager Navigation

<PageTitle>Accounts Receivable</PageTitle>

<div class="container-fluid">
    <div class="table-responsive">
        <QuickGrid Items="@people">
            <PropertyColumn title="Date" Property="@(p => (DateOnly)p.DateOfOrder)" Format="yyyy-MM-dd" Sortable="(bool?)true" />
            <PropertyColumn title="Company" Property="@(p => p.PropertyName)" Sortable="true" />
            <PropertyColumn title="Unit Number" Property="@(p => p.UnitNumber)" Sortable="true" />
            <PropertyColumn title="Property" Property="@(p => p.CompanyName)" Sortable="true" />
            <PropertyColumn title="Invoice Number" Property="@(p => (int)(int)p.InvoiceNumber)" Sortable="(bool?)true" />
            <PropertyColumn title="Work Order" Property="@(p => (int)(int)p.WorkOrder)" Sortable="(bool?)true" />
            <PropertyColumn title="Price" Property="@(p => (double)p.PriceOfOrder)" Sortable="(bool?)true" />
            <PropertyColumn title="Manager" Property="@(p => (string)p.Manager)" Sortable="(bool?)true" />
            <PropertyColumn title="Supervisor" Property="@(p => (string)p.Supervisor)" Sortable="(bool?)true" />
            <PropertyColumn title="Days Overdue" Property="@(p => (int)(int)p.DaysLate)" Sortable="(bool?)true" />
            <PropertyColumn title="Amount Paid" Property="@(p => (double)p.PriceOfOrder)" Sortable="(bool?)true" />
        </QuickGrid>
    </div>

    <div class="d-flex justify-content-between my-3">
        <button class="btn btn-primary" @onclick="Done">Done</button>
        <div>
            <button class="btn btn-secondary me-2">Download to PDF</button>
            <button class="btn btn-success">Download to Excel</button>
        </div>
    </div>
</div>

@code {
    private record Person(DateOnly DateOfOrder, string PropertyName, string UnitNumber, string CompanyName, int InvoiceNumber, int WorkOrder, double PriceOfOrder, string Supervisor, string Manager, int DaysLate);

    private IQueryable<Person> people = new[]
    {
        new Person(new DateOnly(2024, 3, 16), "Company 1", "22334 Nice Place", "E22", 3243, 998, 1232.33, "Jim", "Supe R Mann", 23),
        new Person(new DateOnly(2024, 4, 1),"Company 2", "Grand Oaks Apartments", "8665kh", 2257, 776, 3244.00, "Jane", "Hank E. Panky", 93 ),
        new Person(new DateOnly(2024, 2, 11),"Company 3", "664 Borzing Dr", "3g7k",7423,557, 3322.22, "Lee", "Supa Ninja", 53),
        new Person(new DateOnly(2024, 3, 16),"Company 4", "Super Market", "976", 6788,442, 4455.32, "Lane", "", 63),
        new Person(new DateOnly(2024, 2, 22),"Company 5", "Egyptian Mummy", "334", 0000,134, 2233.26, "", "More Ann", 276),
        new Person(new DateOnly(2023, 5, 16),"Company 2", "Something somewhere", "G88", 5421,789, 987.55, "Louis", "Comp U Torr", 25),
        new Person(new DateOnly(2024, 7, 13),"Company 3", "334 Upstairs Rd", "V32", 6675,709, 6655.77, "Louie", "Koan Ann", 76),
        new Person(new DateOnly(2024, 5, 12),"Company 1", "90 Old New Road", "AEF", 3475,711, 4455.54, "Larry", "Sonny Side", 2),
        new Person(new DateOnly(2024, 12, 26),"Company 4", "532 Strange Place", "3322", 2798,567, 124433.43, "Lawrence", "", 41),
        new Person(new DateOnly(2024, 11, 30),"Company 5", "42134 Eating Icecream Dr.", "A72",8887,532, 8832.09, "Arabia", "Ligma Balls", 21)
    }.AsQueryable();

    void Done()
    {
        // Define what Done button does
    }
}
