@page "/newjobs"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject JobDescriptionService JobDescriptionService
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Threading.Tasks
@using Radzen
@inject DialogService DialogService
@inject NotificationService NotificationService

@using static JobDescriptionService

<h3 class="text-center my-4"><RadzenIcon Icon="add_circle_outline" />New Jobs</h3>
<div class="container mt-3">


        <div class="row">
            <!-- Fixed Header Row -->
            <div class="col-md-12 mb-3">
                <div class="form-group row fixed-header">
                    <div class="col-md-6">
                        <strong>Job Description</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Bedrooms</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Bathrooms</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Price</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Actions</strong>
                    </div>
                </div>
            </div>

            @for (int i = 0; i < Jobs.Count; i++)
            {
                var ii = i;
                <div class="col-md-12 mb-3">
                    <div class="form-group row" style="background-color:lightgreen;">
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Job description" @bind-value="Jobs[ii].description"  Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@Jobs[ii].sizeBedroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobSizeBedroomChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@Jobs[ii].sizeBathroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobSizeBathroomChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenNumeric Value="@Jobs[ii].price"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobPriceChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Icon="close" Click="@(args => DeleteJob(ii))" />
                        </div>
                    </div>
                </div>
            }

            @for (int j = 0; j < newJobs.Count; j++)
            {
                var jj = j;
                <div class="col-md-12 mb-3">
                    <div class="form-group row" style="background-color:lightpink;">
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Job description" @bind-Value="newJobs[jj].description"  Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@newJobs[jj].sizeBedroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnSizeBedroomChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@newJobs[jj].sizeBathroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnSizeBathroomChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenNumeric Value="@newJobs[jj].price"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnPriceChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                                <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Icon="close"  Click="@(args => DeleteNewJob(jj))"/>
                        </div>
                    </div>
                </div>
            }

            <div class="col-12 d-flex justify-content-between flex-wrap">
            <RadzenButton Text="Done" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Click="HandleSubmit" Style="margin-bottom: 10px;" />
                <RadzenButton Text="Add Job" ButtonStyle="ButtonStyle.Success" Click="AddJob" Style="margin-bottom: 10px;" />
            </div>
        </div>


        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <RadzenNotification Severity="Error" Summary="Error" Detail="@errorMessage" />
        }
</div>

@code {
    public List<Job> Jobs { get; set; } = new List<Job>();
    public List<Job> newJobs { get; set; } = new List<Job>();
    private string errorMessage;
    private Dictionary<(int sizeBedroom, int sizeBathroom), int> priceHistory = new Dictionary<(int, int), int>();

    private void OnJobSizeBedroomChange(int value, int index)
    {
        Jobs[index].sizeBedroom = value;
        // Perform other actions on change here
        var key = (Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            Jobs[index].price = priceHistory[key];
        }
    }
    private void OnJobSizeBathroomChange(int value, int index)
    {
        Jobs[index].sizeBathroom = value;
        // Perform other actions on change here
        var key = (Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            Jobs[index].price = priceHistory[key];
        }

    }
    private void OnJobPriceChange(int value, int index)
    {
        Jobs[index].price = value;
        // Perform other actions on change here
        var key = (Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        priceHistory[key] = value;
    }
    private void OnSizeBedroomChange(int value, int index)
    {
        newJobs[index].sizeBedroom = value;
        // Perform other actions on change here
        var key = (newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            newJobs[index].price = priceHistory[key];
        }
    }
    private void OnSizeBathroomChange(int value, int index)
    {
        newJobs[index].sizeBathroom = value;
        // Perform other actions on change here
        var key = (newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            newJobs[index].price = priceHistory[key];
        }

    }
    private void OnPriceChange(int value, int index)
    {
        newJobs[index].price = value;
        // Perform other actions on change here
        var key = (newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        priceHistory[key] = value;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadJobDataAsync();
    }

    private async Task LoadJobDataAsync()
    {
        Jobs = await JobDescriptionService.GetAllJobsAsync();
        foreach(Job job in Jobs)
        {
            var key = (job.sizeBedroom, job.sizeBathroom);
            priceHistory[key] = job.price;

        }
    }

    private async Task HandleSubmit()
    {
        List<Job> newArray = new List<Job>();
        newArray.AddRange(Jobs);
        newArray.AddRange(newJobs);
        var response = await JobDescriptionService.ReplaceAll(newArray);
        if (response)
        {
            Jobs = newArray;
            newJobs.Clear();
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Success",
                    Detail = "Your action was successful!",
                    Duration = 3000
                });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Warning",
                    Detail = "Your action was failed!",
                    Duration = 3000
                });
        }
    }

    private void AddJob()
    {
        try
        {
            newJobs.Add(new Job { description = "New job description", sizeBathroom = 1, sizeBedroom =1,  price = 100 });
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while adding a new job: {ex.Message}";
            Console.WriteLine($"Exception: {ex.Message}");
        }


    }

    private async Task DeleteJob(int index)
    {
        var result = await DialogService.Confirm("Are you sure you want to delete?", "Confirmation");

        if (result.HasValue && result.Value)
        {
            Jobs.RemoveAt(index);
            StateHasChanged();
        }
    }

    private async Task DeleteNewJob(int index)
    {
        var result = await DialogService.Confirm("Are you sure you want to delete?", "Confirmation");

        if (result.HasValue && result.Value)
        {
            newJobs.RemoveAt(index);
            StateHasChanged();
        }
    }

}
