@page "/newjobs"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject JobDescriptionService JobDescriptionService
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Threading.Tasks
@using Radzen
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject IJSRuntime JS

@using static JobDescriptionService

<h3 class="text-center my-4"><RadzenIcon Icon="add_circle_outline" />New Jobs</h3>
<div class="container mt-3">


        <div class="row">
            <!-- Fixed Header Row -->
            <div class="col-md-12 mb-3">
                <div class="form-group row fixed-header">
                    <div class="col-md-6">
                        <strong>Job Description</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Bedrooms</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Bathrooms</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Price</strong>
                    </div>
                    <div class="col-md-2">
                        <strong>Actions</strong>
                    </div>
                </div>
            </div>

            @for (int i = 0; i < Jobs.Count; i++)
            {
                var ii = i;
                <div class="col-md-12 mb-3">
                    <div class="form-group row" style="background-color:lightgreen;">
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Job description" @bind-value="Jobs[ii].description"  Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@Jobs[ii].sizeBedroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobSizeBedroomChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@Jobs[ii].sizeBathroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobSizeBathroomChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenNumeric Value="@Jobs[ii].price"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnJobPriceChange(value, ii))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Icon="close" Click="@(args => DeleteJob(ii))" />
                        </div>
                    </div>
                </div>
            }

            @for (int j = 0; j < newJobs.Count; j++)
            {
                var jj = j;
                <div class="col-md-12 mb-3">
                    <div class="form-group row" style="background-color:lightpink;">
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Job description" @bind-Value="newJobs[jj].description"  Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@newJobs[jj].sizeBedroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnSizeBedroomChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-1">
                            <RadzenNumeric Value="@newJobs[jj].sizeBathroom"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnSizeBathroomChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                            <RadzenNumeric Value="@newJobs[jj].price"
                                           Change="EventCallback.Factory.Create<int>(this, value => OnPriceChange(value, jj))"
                                           Style="width:100%;" />
                        </div>
                        <div class="col-md-2">
                                <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Icon="close"  Click="@(args => DeleteNewJob(jj))"/>
                        </div>
                    </div>
                </div>
            }

            <div class="col-12 d-flex justify-content-between flex-wrap">
            <RadzenButton Text="Done" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Click="HandleSubmit" Style="margin-bottom: 10px;" />
                <RadzenButton Text="Add Job" ButtonStyle="ButtonStyle.Success" Click="AddJob" Style="margin-bottom: 10px;" />
            </div>
        </div>


        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <RadzenNotification Severity="Error" Summary="Error" Detail="@errorMessage" />
        }
</div>

@code {
    public List<JobDiscription> Jobs { get; set; } = new List<JobDiscription>();
    public List<JobDiscription> newJobs { get; set; } = new List<JobDiscription>();
    private string errorMessage;
    private Dictionary<(bool isnewjob, int inedex, int sizeBedroom, int sizeBathroom), int> priceHistory = new Dictionary<(bool, int, int, int), int>();

    private void OnJobSizeBedroomChange(int value, int index)
    {
        Jobs[index].sizeBedroom = value;
        // Perform other actions on change here
        var key = (false, index, Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            Jobs[index].price = priceHistory[key];
        }
    }
    private void OnJobSizeBathroomChange(int value, int index)
    {
        Jobs[index].sizeBathroom = value;
        // Perform other actions on change here
        var key = (false, index, Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            Jobs[index].price = priceHistory[key];
        }

    }
    private async Task OnJobPriceChange(int value, int index)
    {
        Jobs[index].price = value;
        // Perform other actions on change here
        var key = (false, index, Jobs[index].sizeBedroom, Jobs[index].sizeBathroom);
        priceHistory[key] = value;
        await SaveToLocalStorage(priceHistory);
    }
    private void OnSizeBedroomChange(int value, int index)
    {
        newJobs[index].sizeBedroom = value;
        // Perform other actions on change here
        var key = (true, index, newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            newJobs[index].price = priceHistory[key];
        }
    }
    private void OnSizeBathroomChange(int value, int index)
    {
        newJobs[index].sizeBathroom = value;
        // Perform other actions on change here
        var key = (true, index, newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        // Check if the price is already in history
        if (priceHistory.ContainsKey(key))
        {
            newJobs[index].price = priceHistory[key];
        }

    }
    private void OnPriceChange(int value, int index)
    {
        newJobs[index].price = value;
        // Perform other actions on change here
        var key = (true, index, newJobs[index].sizeBedroom, newJobs[index].sizeBathroom);
        priceHistory[key] = value;
        SaveToLocalStorage(priceHistory);

    }

    protected override async Task OnInitializedAsync()
    {
        await LoadJobDataAsync();
    }

    private async Task LoadJobDataAsync()
    {
        Jobs = await JobDescriptionService.GetAllJobsAsync();
        priceHistory = await GetFromLocalStorage();

/*        foreach (JobDiscription job in Jobs)
        {
            for(int i = 0; i < Jobs.Count; i++)
            {
                var key = (false, i, job.sizeBedroom, job.sizeBathroom);
                priceHistory[key] = job.price;
            }
        }*/
    }

    private async Task HandleSubmit()
    {
        List<JobDiscription> newArray = new List<JobDiscription>();
        newArray.AddRange(Jobs);
        newArray.AddRange(newJobs);
        var response = await JobDescriptionService.ReplaceAll(newArray);
        if (response)
        {
            Jobs = newArray;
            newJobs.Clear();
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Success",
                    Detail = "Your action was successful!",
                    Duration = 3000
                });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Warning",
                    Detail = "Your action was failed!",
                    Duration = 3000
                });
        }
    }

    private void AddJob()
    {
        try
        {
            newJobs.Add(new JobDiscription { description = "New job description", sizeBathroom = 1, sizeBedroom = 1, price = 100 });
            foreach (JobDiscription job in Jobs)
            {
                var key = (true, newJobs.Count - 1, job.sizeBedroom, job.sizeBathroom);
                priceHistory[key] = job.price;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while adding a new job: {ex.Message}";
            Console.WriteLine($"Exception: {ex.Message}");
        }


    }

    private async Task DeleteJob(int index)
    {
        var result = await DialogService.Confirm("Are you sure you want to delete?", "Confirmation");

        if (result.HasValue && result.Value)
        {
            Jobs.RemoveAt(index);
            StateHasChanged();
        }
    }

    private async Task DeleteNewJob(int index)
    {
        var result = await DialogService.Confirm("Are you sure you want to delete?", "Confirmation");

        if (result.HasValue && result.Value)
        {
            newJobs.RemoveAt(index);
            StateHasChanged();
        }
    }
    public async Task SaveToLocalStorage(Dictionary<(bool isNewJob, int index, int sizeBedroom, int sizeBathroom), int> priceHistory)
    {
        var stringKeyDict = priceHistory.ToDictionary(
            kvp => $"{kvp.Key.isNewJob},{kvp.Key.index},{kvp.Key.sizeBedroom},{kvp.Key.sizeBathroom}",
            kvp => kvp.Value
        );

        var json = JsonSerializer.Serialize(stringKeyDict);
        await JS.InvokeVoidAsync("localStorage.setItem", "priceHistory", json);
    }
    public async Task<Dictionary<(bool isNewJob, int index, int sizeBedroom, int sizeBathroom), int>> GetFromLocalStorage()
    {
        var json = await JS.InvokeAsync<string>("localStorage.getItem", "priceHistory");
        if (string.IsNullOrEmpty(json))
        {
            return new Dictionary<(bool, int, int, int), int>();
        }

        var stringKeyDict = JsonSerializer.Deserialize<Dictionary<string, int>>(json);
        var priceHistory = new Dictionary<(bool isNewJob, int index, int sizeBedroom, int sizeBathroom), int>();

        foreach (var kvp in stringKeyDict)
        {
            var parts = kvp.Key.Split(',');
            var key = (
                bool.Parse(parts[0]),
                int.Parse(parts[1]),
                int.Parse(parts[2]),
                int.Parse(parts[3])
            );
            priceHistory[key] = kvp.Value;
        }

        return priceHistory;
    }
}
